* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";
